*{
  margin:0;
  padding: 0;
}
.head{
  background: black;
  color: white;
}
p{
  align-content: center;
  align-self: centre;
}
button{
  background: blue;
  color:white;
  width:150px;
  border-radius: 9px;
  height: 30px;
  padding: 8px;
}
.service{
  background: skyblue;
  color:white;
  font-size: 18px;
  height:auto;
  margin-top: 50px;
}